In [10]:
import pandas as pd
import glob
import os

LEAD_TITLE = 'India'
LEAD = '1585'

folder_path = f'c:\\Workspace\\pre-planning\\ATT3\\{LEAD}\\'

all_files = glob.glob(os.path.join(folder_path, "*.csv"))

df_list = []
for file in all_files:
    df = pd.read_csv(file)  
    df_list.append(df)

concatenated_df = pd.concat(df_list, ignore_index=True)

concatenated_df.to_csv(f'{LEAD}concatenated_file.csv', index=False)

com = pd.read_csv(f'{LEAD}concatenated_file.csv')
print(com['status'].value_counts())



# Rename status column values
status_mapping = {
    'realized': 'Realized',
    'matched': 'Accepted by Host',
    'an': 'Accepted',
    'approved': 'Approved',
    'finished': 'Finished',
    'completed': 'Completed',
    'applied': 'Applied',
    'remote': 'Remote Realized',
    'o': 'Open',
    'i': 'Open',
    'total': 'Total',
    'accepted': 'Accepted L'
}

com['status'] = com['status'].map(status_mapping)
com['Month in Dates'] = pd.to_datetime(com['Month'])
com['status2'] = com['status']

print(com)


# Create a PeriodIndex with monthly frequency
period_index = pd.PeriodIndex(com['Month in Dates'], freq='M')

# Convert 'Month in Dates' to datetime
com['Month in Dates'] = pd.to_datetime(com['Month in Dates'])

# Define a mapping dictionary for quarters
month_mapping = {
    1: 'JAN',
    2: 'FEB',
    3: 'MAR',
    4: 'APR',   
    5: 'MAY',
    6: 'JUN',
    7: 'JUL',
    8: 'AUG',
    9: 'SEP',
    10: 'OCT',
    11: 'NOV',
    12: 'DEC',
}

# Extract month numbers and map them to month names
com['Months for Analysis'] = com['Month in Dates'].dt.month.map(month_mapping)

# Function to determine term based on date
def determine_term(date_str):
    date = pd.to_datetime(date_str, format='%Y-%m-%d')
    year = date.year
    if date.month >= 2:
        term = f"{year % 100}.{(year + 1) % 100}"
    else:
        term = f"{(year - 1) % 100}.{year % 100}"
    return term

# Adding 'Term' column to DataFrame
com['Term'] = com['Month in Dates'].apply(determine_term)

com.to_csv(f'{LEAD}final_processed.csv', index=False)

# function_is = 'oGTa'
# term = '20.21'
def get_summary(df, function_new, term):
    
    df['Month in Dates'] = pd.to_datetime(df['Month in Dates'])
    col_to_show = ['status','status2', 'APP','Month in Dates', 'function_new', 'Term', 'Months for Analysis']
    # Filter the dataframe based on function and term
    filt = df[(df['function_new'] == function_new) & (df['Term'] == term)][col_to_show]
    pivot_df = filt.pivot_table(index='status', columns='Months for Analysis', values='APP', aggfunc='sum')
    pivot_df['Total'] = pivot_df.sum(axis=1)
    # a colum which has values 'ASL' for the whole column
    pivot_df['Entity'] = LEAD_TITLE
    pivot_df['Function'] = function_new
    pivot_df['Term'] = term
    pivot_df['Year'] = pivot_df['Term'].apply(lambda x: "20" + x.split('.')[0])
    pivot_df['EY Year'] = pivot_df['Entity'] + ' - ' + pivot_df['Year']

    

    rows_to_drop = ['Accepted L', 'Remote Realized', 'Accepted by Host']
    pivot_df = pivot_df.drop(rows_to_drop, errors='ignore')

    # Define the desired column order
    column_order = ['Entity', 'status2','Function','Term', 'Year','EY Year','FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN', 'Total']
    pivot_df = pivot_df.reindex(columns=column_order)

    # Define the desired row order
    row_order = ['Open','Applied', 'Accepted', 'Approved', 'Realized', 'Finished', 'Completed']
    pivot_df = pivot_df.reindex(row_order)
    
    return pivot_df

# get_summary(com, function_is, term)

import csv

functions = ['oGTa', 'iGTa', 'iGV', 'oGV', 'Total', 'oGTe', 'iGTe']
# terms = ['15.16', '16.17', '17.18', '18.19', '19.20','22.23', '23.24']
terms = ['15.16', '16.17', '17.18', '18.19', '19.20', '21.22', '22.23','23.24', '24.25']

# Open the CSV file in write mode
with open(f'{LEAD}Planning_Pivot.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    
    # List to store all summary DataFrames
    summary_dfs = []

    for func in functions:
        for term in terms:
            # Print and write the Function and Term identifiers
            print(f"Function: {func}, Term: {term}")
            
            # Get the summary DataFrame
            summary_df = get_summary(com, func, term)
            display(summary_df)
            summary_dfs.append(summary_df)
        
            
            # Write the Function and Term identifiers to the CSV
            csvwriter.writerow([f"Function: {func}, Term: {term}"])
            
            # Write the headers including the index name
            headers = ['Index'] + list(summary_df.columns)
            csvwriter.writerow(headers)
            
            # Write the DataFrame rows including the index
            for index, row in summary_df.iterrows():
                csvwriter.writerow([index] + list(row))
            
            # Add a blank line for separation (optional)
            csvwriter.writerow([])

        final_summary_df = pd.concat(summary_dfs, ignore_index=True)
        final_summary_df.reset_index(inplace=True)
        final_summary_df.to_csv(f'{LEAD_TITLE}_{LEAD}summary_data_for_peak.csv', index=False)

print(f'{LEAD_TITLE}_{LEAD}Data written to summary_data.csv successfully.')

realized     572
an           528
approved     528
finished     528
completed    528
applied      528
remote       528
o            264
i            264
total        264
accepted      44
Name: status, dtype: int64
        status function function_new          Month  APP Month in Dates  \
0     Realized  Old iGT         iGTa   January 2021  0.0     2021-01-01
1     Realized  Old iGV          iGV   January 2021  0.0     2021-01-01
2     Realized     iGTa         iGTa   January 2021  2.0     2021-01-01
3     Realized      iGV          iGV   January 2021  0.0     2021-01-01
4     Realized     iGTe         iGTe   January 2021  1.0     2021-01-01
...        ...      ...          ...            ...  ...            ...
4571     Total    Total        Total  November 2024  0.0     2024-11-01
4572     Total    Total        Total  November 2024  0.0     2024-11-01
4573  Realized    Total        Total  November 2024  0.0     2024-11-01
4574     Total    Total        Total  November 2024  9.0     2024-11-01
4575     Total    Total        Total  November 2024  0.0     2024-11-01

       status2
0     Realized
1     Realized
2     Realized
3     Realized
4     Realized
...        ...
4571     Total
4572     Total
4573  Realized
4574     Total
4575     Total

[4576 rows x 7 columns]
Function: oGTa, Term: 15.16

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTa, Term: 16.17

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTa, Term: 17.18

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTa, Term: 18.19

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTa, Term: 19.20

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTa, Term: 21.22

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTa,21.22,2021,India - 2021,1070.0,1720.0,846.0,309.0,276.0,326.0,509.0,754.0,370.0,359.0,NaN,427.0,6966.0
Applied,India,NaN,oGTa,21.22,2021,India - 2021,210.0,287.0,278.0,171.0,172.0,164.0,157.0,181.0,158.0,164.0,NaN,146.0,2088.0
Accepted,India,NaN,oGTa,21.22,2021,India - 2021,5.0,6.0,7.0,2.0,4.0,1.0,5.0,2.0,3.0,4.0,NaN,6.0,45.0
Approved,India,NaN,oGTa,21.22,2021,India - 2021,5.0,4.0,3.0,1.0,2.0,0.0,3.0,3.0,3.0,2.0,NaN,3.0,29.0
Realized,India,NaN,oGTa,21.22,2021,India - 2021,0.0,1.0,1.0,0.0,0.0,2.0,2.0,4.0,0.0,3.0,NaN,1.0,14.0
Finished,India,NaN,oGTa,21.22,2021,India - 2021,0.0,4.0,1.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,NaN,2.0,12.0
Completed,India,NaN,oGTa,21.22,2021,India - 2021,0.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,NaN,1.0,7.0

Function: oGTa, Term: 22.23

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTa,22.23,2022,India - 2022,435.0,1169.0,809.0,731.0,484.0,313.0,452.0,1045.0,1031.0,796.0,NaN,245.0,7510.0
Applied,India,NaN,oGTa,22.23,2022,India - 2022,103.0,132.0,137.0,227.0,182.0,126.0,195.0,223.0,262.0,184.0,NaN,164.0,1935.0
Accepted,India,NaN,oGTa,22.23,2022,India - 2022,8.0,4.0,4.0,4.0,6.0,3.0,5.0,6.0,11.0,3.0,NaN,2.0,56.0
Approved,India,NaN,oGTa,22.23,2022,India - 2022,5.0,5.0,2.0,4.0,2.0,7.0,4.0,2.0,11.0,3.0,NaN,2.0,47.0
Realized,India,NaN,oGTa,22.23,2022,India - 2022,2.0,5.0,0.0,3.0,7.0,4.0,3.0,1.0,3.0,1.0,NaN,3.0,32.0
Finished,India,NaN,oGTa,22.23,2022,India - 2022,0.0,2.0,3.0,3.0,1.0,3.0,5.0,1.0,0.0,2.0,NaN,0.0,20.0
Completed,India,NaN,oGTa,22.23,2022,India - 2022,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,0.0,1.0,NaN,0.0,8.0

Function: oGTa, Term: 23.24

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTa,23.24,2023,India - 2023,834.0,1244.0,889.0,527.0,355.0,297.0,865.0,815.0,539.0,305.0,NaN,182.0,6852.0
Applied,India,NaN,oGTa,23.24,2023,India - 2023,142.0,203.0,142.0,129.0,138.0,115.0,140.0,132.0,101.0,102.0,NaN,99.0,1443.0
Accepted,India,NaN,oGTa,23.24,2023,India - 2023,5.0,6.0,5.0,7.0,3.0,2.0,2.0,2.0,4.0,0.0,NaN,0.0,36.0
Approved,India,NaN,oGTa,23.24,2023,India - 2023,5.0,3.0,4.0,6.0,2.0,2.0,2.0,1.0,1.0,1.0,NaN,0.0,27.0
Realized,India,NaN,oGTa,23.24,2023,India - 2023,2.0,3.0,5.0,3.0,4.0,7.0,1.0,2.0,2.0,2.0,NaN,2.0,33.0
Finished,India,NaN,oGTa,23.24,2023,India - 2023,3.0,0.0,0.0,2.0,6.0,8.0,3.0,1.0,3.0,1.0,NaN,1.0,28.0
Completed,India,NaN,oGTa,23.24,2023,India - 2023,0.0,0.0,0.0,1.0,0.0,2.0,1.0,0.0,1.0,1.0,NaN,0.0,6.0

Function: oGTa, Term: 24.25

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTa,24.25,2024,India - 2024,268.0,437.0,573.0,446.0,19.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1743.0
Applied,India,NaN,oGTa,24.25,2024,India - 2024,138.0,167.0,120.0,122.0,28.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,575.0
Accepted,India,NaN,oGTa,24.25,2024,India - 2024,3.0,6.0,4.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,21.0
Approved,India,NaN,oGTa,24.25,2024,India - 2024,4.0,4.0,2.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,18.0
Realized,India,NaN,oGTa,24.25,2024,India - 2024,1.0,0.0,1.0,2.0,5.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,10.0
Finished,India,NaN,oGTa,24.25,2024,India - 2024,2.0,2.0,6.0,3.0,1.0,9.0,2.0,2.0,1.0,3.0,NaN,NaN,31.0
Completed,India,NaN,oGTa,24.25,2024,India - 2024,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2.0

Function: iGTa, Term: 15.16

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTa, Term: 16.17

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTa, Term: 17.18

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTa, Term: 18.19

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTa, Term: 19.20

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTa, Term: 21.22

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTa,21.22,2021,India - 2021,3.0,32.0,8.0,4.0,2.0,1.0,3.0,0.0,19.0,12.0,NaN,6.0,90.0
Applied,India,NaN,iGTa,21.22,2021,India - 2021,169.0,302.0,298.0,54.0,18.0,18.0,33.0,30.0,50.0,68.0,NaN,69.0,1109.0
Accepted,India,NaN,iGTa,21.22,2021,India - 2021,6.0,13.0,4.0,0.0,2.0,0.0,0.0,0.0,4.0,7.0,NaN,7.0,43.0
Approved,India,NaN,iGTa,21.22,2021,India - 2021,1.0,3.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,5.0,NaN,7.0,20.0
Realized,India,NaN,iGTa,21.22,2021,India - 2021,2.0,6.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3.0,16.0
Finished,India,NaN,iGTa,21.22,2021,India - 2021,10.0,7.0,1.0,4.0,0.0,1.0,1.0,1.0,0.0,0.0,NaN,3.0,28.0
Completed,India,NaN,iGTa,21.22,2021,India - 2021,3.0,2.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,9.0

Function: iGTa, Term: 22.23

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTa,22.23,2022,India - 2022,5.0,17.0,7.0,30.0,24.0,27.0,19.0,5.0,12.0,25.0,NaN,15.0,186.0
Applied,India,NaN,iGTa,22.23,2022,India - 2022,41.0,84.0,97.0,91.0,149.0,108.0,117.0,161.0,95.0,175.0,NaN,61.0,1179.0
Accepted,India,NaN,iGTa,22.23,2022,India - 2022,9.0,1.0,6.0,14.0,11.0,8.0,11.0,11.0,6.0,6.0,NaN,6.0,89.0
Approved,India,NaN,iGTa,22.23,2022,India - 2022,9.0,0.0,5.0,11.0,6.0,6.0,12.0,7.0,1.0,5.0,NaN,5.0,67.0
Realized,India,NaN,iGTa,22.23,2022,India - 2022,2.0,0.0,3.0,1.0,2.0,5.0,5.0,10.0,6.0,3.0,NaN,6.0,43.0
Finished,India,NaN,iGTa,22.23,2022,India - 2022,0.0,2.0,3.0,1.0,2.0,3.0,2.0,2.0,4.0,0.0,NaN,4.0,23.0
Completed,India,NaN,iGTa,22.23,2022,India - 2022,0.0,0.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,NaN,0.0,6.0

Function: iGTa, Term: 23.24

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTa,23.24,2023,India - 2023,56.0,61.0,54.0,53.0,52.0,20.0,23.0,18.0,19.0,20.0,NaN,6.0,382.0
Applied,India,NaN,iGTa,23.24,2023,India - 2023,119.0,443.0,384.0,391.0,321.0,227.0,281.0,231.0,270.0,244.0,NaN,107.0,3018.0
Accepted,India,NaN,iGTa,23.24,2023,India - 2023,4.0,49.0,35.0,30.0,14.0,14.0,4.0,9.0,9.0,15.0,NaN,13.0,196.0
Approved,India,NaN,iGTa,23.24,2023,India - 2023,4.0,27.0,24.0,24.0,10.0,10.0,4.0,7.0,5.0,5.0,NaN,5.0,125.0
Realized,India,NaN,iGTa,23.24,2023,India - 2023,3.0,3.0,5.0,7.0,31.0,18.0,13.0,8.0,7.0,5.0,NaN,9.0,109.0
Finished,India,NaN,iGTa,23.24,2023,India - 2023,4.0,5.0,5.0,3.0,2.0,17.0,14.0,34.0,6.0,2.0,NaN,3.0,95.0
Completed,India,NaN,iGTa,23.24,2023,India - 2023,1.0,4.0,2.0,0.0,1.0,4.0,7.0,12.0,2.0,1.0,NaN,2.0,36.0

Function: iGTa, Term: 24.25

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTa,24.25,2024,India - 2024,13.0,33.0,64.0,78.0,4.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,192.0
Applied,India,NaN,iGTa,24.25,2024,India - 2024,118.0,360.0,404.0,432.0,37.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1351.0
Accepted,India,NaN,iGTa,24.25,2024,India - 2024,10.0,18.0,35.0,29.0,3.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,95.0
Approved,India,NaN,iGTa,24.25,2024,India - 2024,10.0,21.0,26.0,29.0,3.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,89.0
Realized,India,NaN,iGTa,24.25,2024,India - 2024,1.0,2.0,7.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,21.0
Finished,India,NaN,iGTa,24.25,2024,India - 2024,4.0,5.0,12.0,3.0,6.0,2.0,8.0,3.0,3.0,3.0,NaN,NaN,49.0
Completed,India,NaN,iGTa,24.25,2024,India - 2024,3.0,1.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,11.0

Function: iGV, Term: 15.16

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGV, Term: 16.17

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGV, Term: 17.18

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGV, Term: 18.19

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGV, Term: 19.20

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGV, Term: 21.22

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGV,21.22,2021,India - 2021,13.0,65.0,24.0,3.0,0.0,0.0,0.0,0.0,0.0,31.0,NaN,9.0,145.0
Applied,India,NaN,iGV,21.22,2021,India - 2021,148.0,258.0,200.0,86.0,84.0,77.0,69.0,58.0,85.0,130.0,NaN,68.0,1263.0
Accepted,India,NaN,iGV,21.22,2021,India - 2021,47.0,83.0,42.0,4.0,0.0,1.0,0.0,0.0,0.0,24.0,NaN,11.0,212.0
Approved,India,NaN,iGV,21.22,2021,India - 2021,3.0,12.0,7.0,2.0,0.0,1.0,0.0,0.0,0.0,10.0,NaN,4.0,39.0
Realized,India,NaN,iGV,21.22,2021,India - 2021,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,3.0
Finished,India,NaN,iGV,21.22,2021,India - 2021,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,3.0
Completed,India,NaN,iGV,21.22,2021,India - 2021,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,2.0

Function: iGV, Term: 22.23

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGV,22.23,2022,India - 2022,15.0,11.0,16.0,13.0,18.0,26.0,1.0,4.0,3.0,8.0,NaN,4.0,119.0
Applied,India,NaN,iGV,22.23,2022,India - 2022,74.0,256.0,270.0,308.0,188.0,192.0,156.0,146.0,166.0,282.0,NaN,137.0,2175.0
Accepted,India,NaN,iGV,22.23,2022,India - 2022,29.0,62.0,66.0,77.0,63.0,61.0,43.0,56.0,33.0,73.0,NaN,29.0,592.0
Approved,India,NaN,iGV,22.23,2022,India - 2022,14.0,20.0,29.0,45.0,40.0,35.0,28.0,32.0,18.0,35.0,NaN,17.0,313.0
Realized,India,NaN,iGV,22.23,2022,India - 2022,2.0,0.0,0.0,4.0,9.0,59.0,56.0,17.0,10.0,5.0,NaN,23.0,185.0
Finished,India,NaN,iGV,22.23,2022,India - 2022,0.0,1.0,1.0,0.0,4.0,13.0,58.0,49.0,16.0,13.0,NaN,8.0,163.0
Completed,India,NaN,iGV,22.23,2022,India - 2022,0.0,0.0,0.0,0.0,3.0,9.0,46.0,24.0,7.0,6.0,NaN,5.0,100.0

Function: iGV, Term: 23.24

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGV,23.24,2023,India - 2023,18.0,76.0,22.0,38.0,19.0,14.0,28.0,37.0,8.0,19.0,NaN,23.0,302.0
Applied,India,NaN,iGV,23.24,2023,India - 2023,169.0,401.0,280.0,260.0,235.0,167.0,185.0,213.0,201.0,258.0,NaN,107.0,2476.0
Accepted,India,NaN,iGV,23.24,2023,India - 2023,35.0,112.0,86.0,107.0,63.0,49.0,19.0,52.0,55.0,103.0,NaN,34.0,715.0
Approved,India,NaN,iGV,23.24,2023,India - 2023,18.0,42.0,34.0,47.0,30.0,47.0,10.0,37.0,31.0,93.0,NaN,20.0,409.0
Realized,India,NaN,iGV,23.24,2023,India - 2023,26.0,13.0,3.0,9.0,21.0,104.0,55.0,29.0,8.0,5.0,NaN,10.0,283.0
Finished,India,NaN,iGV,23.24,2023,India - 2023,13.0,31.0,16.0,3.0,11.0,13.0,108.0,56.0,31.0,10.0,NaN,14.0,306.0
Completed,India,NaN,iGV,23.24,2023,India - 2023,4.0,17.0,4.0,0.0,7.0,12.0,65.0,41.0,19.0,2.0,NaN,12.0,183.0

Function: iGV, Term: 24.25

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGV,24.25,2024,India - 2024,8.0,73.0,45.0,60.0,3.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,189.0
Applied,India,NaN,iGV,24.25,2024,India - 2024,146.0,368.0,256.0,255.0,24.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1049.0
Accepted,India,NaN,iGV,24.25,2024,India - 2024,55.0,114.0,69.0,107.0,16.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,361.0
Approved,India,NaN,iGV,24.25,2024,India - 2024,50.0,101.0,59.0,89.0,11.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,310.0
Realized,India,NaN,iGV,24.25,2024,India - 2024,19.0,7.0,0.0,8.0,3.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,37.0
Finished,India,NaN,iGV,24.25,2024,India - 2024,8.0,21.0,5.0,4.0,5.0,6.0,0.0,0.0,0.0,0.0,NaN,NaN,49.0
Completed,India,NaN,iGV,24.25,2024,India - 2024,6.0,14.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,23.0

Function: oGV, Term: 15.16

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGV, Term: 16.17

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGV, Term: 17.18

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGV, Term: 18.19

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGV, Term: 19.20

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGV, Term: 21.22

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGV,21.22,2021,India - 2021,1205.0,2175.0,713.0,217.0,236.0,289.0,219.0,309.0,181.0,182.0,NaN,479.0,6205.0
Applied,India,NaN,oGV,21.22,2021,India - 2021,123.0,288.0,104.0,31.0,34.0,40.0,61.0,42.0,22.0,53.0,NaN,83.0,881.0
Accepted,India,NaN,oGV,21.22,2021,India - 2021,40.0,115.0,54.0,4.0,3.0,9.0,31.0,10.0,5.0,7.0,NaN,40.0,318.0
Approved,India,NaN,oGV,21.22,2021,India - 2021,15.0,46.0,27.0,2.0,0.0,7.0,18.0,2.0,2.0,2.0,NaN,3.0,124.0
Realized,India,NaN,oGV,21.22,2021,India - 2021,0.0,0.0,0.0,4.0,0.0,3.0,5.0,15.0,5.0,2.0,NaN,9.0,43.0
Finished,India,NaN,oGV,21.22,2021,India - 2021,0.0,0.0,0.0,0.0,2.0,3.0,3.0,3.0,10.0,12.0,NaN,4.0,37.0
Completed,India,NaN,oGV,21.22,2021,India - 2021,0.0,0.0,0.0,0.0,2.0,2.0,3.0,2.0,4.0,7.0,NaN,2.0,22.0

Function: oGV, Term: 22.23

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGV,22.23,2022,India - 2022,670.0,1260.0,1046.0,1257.0,531.0,642.0,663.0,1645.0,1230.0,1733.0,NaN,860.0,11537.0
Applied,India,NaN,oGV,22.23,2022,India - 2022,62.0,177.0,106.0,108.0,69.0,50.0,37.0,77.0,86.0,142.0,NaN,52.0,966.0
Accepted,India,NaN,oGV,22.23,2022,India - 2022,23.0,60.0,36.0,35.0,19.0,11.0,9.0,27.0,31.0,67.0,NaN,15.0,333.0
Approved,India,NaN,oGV,22.23,2022,India - 2022,10.0,9.0,17.0,23.0,9.0,2.0,4.0,13.0,12.0,27.0,NaN,6.0,132.0
Realized,India,NaN,oGV,22.23,2022,India - 2022,1.0,2.0,5.0,6.0,11.0,25.0,1.0,10.0,1.0,6.0,NaN,17.0,85.0
Finished,India,NaN,oGV,22.23,2022,India - 2022,8.0,1.0,2.0,4.0,6.0,9.0,27.0,2.0,8.0,3.0,NaN,13.0,83.0
Completed,India,NaN,oGV,22.23,2022,India - 2022,6.0,0.0,1.0,4.0,6.0,6.0,22.0,1.0,7.0,2.0,NaN,10.0,65.0

Function: oGV, Term: 23.24

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGV,23.24,2023,India - 2023,2380.0,3142.0,2418.0,1566.0,863.0,737.0,1628.0,2200.0,1468.0,1248.0,NaN,429.0,18079.0
Applied,India,NaN,oGV,23.24,2023,India - 2023,83.0,228.0,158.0,109.0,70.0,46.0,117.0,116.0,70.0,92.0,NaN,88.0,1177.0
Accepted,India,NaN,oGV,23.24,2023,India - 2023,34.0,107.0,68.0,58.0,33.0,22.0,56.0,73.0,39.0,41.0,NaN,34.0,565.0
Approved,India,NaN,oGV,23.24,2023,India - 2023,16.0,44.0,37.0,32.0,12.0,14.0,10.0,33.0,20.0,28.0,NaN,15.0,261.0
Realized,India,NaN,oGV,23.24,2023,India - 2023,7.0,3.0,5.0,8.0,60.0,28.0,25.0,13.0,5.0,5.0,NaN,13.0,172.0
Finished,India,NaN,oGV,23.24,2023,India - 2023,12.0,14.0,4.0,4.0,9.0,51.0,36.0,26.0,12.0,6.0,NaN,17.0,191.0
Completed,India,NaN,oGV,23.24,2023,India - 2023,8.0,12.0,3.0,4.0,7.0,31.0,24.0,22.0,9.0,5.0,NaN,12.0,137.0

Function: oGV, Term: 24.25

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGV,24.25,2024,India - 2024,1976.0,2320.0,2050.0,3204.0,122.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,9672.0
Applied,India,NaN,oGV,24.25,2024,India - 2024,111.0,157.0,131.0,90.0,9.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,498.0
Accepted,India,NaN,oGV,24.25,2024,India - 2024,58.0,81.0,68.0,39.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,247.0
Approved,India,NaN,oGV,24.25,2024,India - 2024,41.0,68.0,62.0,38.0,3.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,212.0
Realized,India,NaN,oGV,24.25,2024,India - 2024,5.0,9.0,3.0,44.0,26.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,87.0
Finished,India,NaN,oGV,24.25,2024,India - 2024,14.0,2.0,10.0,2.0,31.0,41.0,1.0,0.0,0.0,0.0,NaN,NaN,101.0
Completed,India,NaN,oGV,24.25,2024,India - 2024,7.0,1.0,10.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,20.0

Function: Total, Term: 15.16

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 16.17

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 17.18

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 18.19

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 19.20

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 21.22

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,India,NaN,Total,21.22,2021,India - 2021,1.0,0.0,0.0,0.0,3.0,2.0,1.0,1.0,0.0,0.0,NaN,0.0,8.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 22.23

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,India,NaN,Total,22.23,2022,India - 2022,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,0.0,0.0,NaN,0.0,5.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 23.24

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,India,NaN,Total,23.24,2023,India - 2023,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 24.25

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,India,NaN,Total,24.25,2024,India - 2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTe, Term: 15.16

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTe, Term: 16.17

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTe, Term: 17.18

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTe, Term: 18.19

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTe, Term: 19.20

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTe, Term: 21.22

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTe,21.22,2021,India - 2021,209.0,233.0,242.0,56.0,28.0,39.0,54.0,105.0,44.0,70.0,NaN,37.0,1117.0
Applied,India,NaN,oGTe,21.22,2021,India - 2021,18.0,57.0,34.0,28.0,20.0,27.0,24.0,32.0,28.0,23.0,NaN,17.0,308.0
Accepted,India,NaN,oGTe,21.22,2021,India - 2021,2.0,2.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,NaN,1.0,12.0
Approved,India,NaN,oGTe,21.22,2021,India - 2021,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,NaN,0.0,3.0
Realized,India,NaN,oGTe,21.22,2021,India - 2021,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0
Finished,India,NaN,oGTe,21.22,2021,India - 2021,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.0
Completed,India,NaN,oGTe,21.22,2021,India - 2021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

Function: oGTe, Term: 22.23

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTe,22.23,2022,India - 2022,14.0,20.0,18.0,18.0,19.0,15.0,17.0,30.0,17.0,17.0,NaN,11.0,196.0
Applied,India,NaN,oGTe,22.23,2022,India - 2022,11.0,7.0,11.0,6.0,15.0,14.0,16.0,11.0,13.0,11.0,NaN,8.0,123.0
Accepted,India,NaN,oGTe,22.23,2022,India - 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,NaN,0.0,2.0
Approved,India,NaN,oGTe,22.23,2022,India - 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1.0
Realized,India,NaN,oGTe,22.23,2022,India - 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
Finished,India,NaN,oGTe,22.23,2022,India - 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
Completed,India,NaN,oGTe,22.23,2022,India - 2022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

Function: oGTe, Term: 23.24

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTe,23.24,2023,India - 2023,18.0,16.0,10.0,15.0,19.0,19.0,11.0,18.0,11.0,3.0,NaN,13.0,153.0
Applied,India,NaN,oGTe,23.24,2023,India - 2023,12.0,14.0,11.0,21.0,16.0,15.0,15.0,17.0,4.0,12.0,NaN,14.0,151.0
Accepted,India,NaN,oGTe,23.24,2023,India - 2023,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,NaN,0.0,4.0
Approved,India,NaN,oGTe,23.24,2023,India - 2023,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,0.0,3.0
Realized,India,NaN,oGTe,23.24,2023,India - 2023,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,0.0,4.0
Finished,India,NaN,oGTe,23.24,2023,India - 2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
Completed,India,NaN,oGTe,23.24,2023,India - 2023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

Function: oGTe, Term: 24.25

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,oGTe,24.25,2024,India - 2024,18.0,13.0,39.0,31.0,6.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,107.0
Applied,India,NaN,oGTe,24.25,2024,India - 2024,18.0,15.0,21.0,25.0,4.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,83.0
Accepted,India,NaN,oGTe,24.25,2024,India - 2024,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2.0
Approved,India,NaN,oGTe,24.25,2024,India - 2024,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.0
Realized,India,NaN,oGTe,24.25,2024,India - 2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
Finished,India,NaN,oGTe,24.25,2024,India - 2024,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,4.0
Completed,India,NaN,oGTe,24.25,2024,India - 2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0

Function: iGTe, Term: 15.16

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTe, Term: 16.17

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTe, Term: 17.18

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTe, Term: 18.19

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTe, Term: 19.20

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: iGTe, Term: 21.22

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTe,21.22,2021,India - 2021,7.0,16.0,4.0,6.0,6.0,0.0,0.0,3.0,21.0,1.0,NaN,9.0,73.0
Applied,India,NaN,iGTe,21.22,2021,India - 2021,84.0,150.0,110.0,21.0,14.0,13.0,4.0,35.0,47.0,36.0,NaN,66.0,580.0
Accepted,India,NaN,iGTe,21.22,2021,India - 2021,8.0,12.0,10.0,3.0,2.0,0.0,0.0,1.0,2.0,0.0,NaN,2.0,40.0
Approved,India,NaN,iGTe,21.22,2021,India - 2021,1.0,4.0,2.0,2.0,4.0,0.0,0.0,1.0,1.0,0.0,NaN,0.0,15.0
Realized,India,NaN,iGTe,21.22,2021,India - 2021,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,6.0
Finished,India,NaN,iGTe,21.22,2021,India - 2021,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,NaN,1.0,3.0
Completed,India,NaN,iGTe,21.22,2021,India - 2021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

Function: iGTe, Term: 22.23

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTe,22.23,2022,India - 2022,8.0,9.0,11.0,33.0,12.0,14.0,18.0,16.0,11.0,15.0,NaN,9.0,156.0
Applied,India,NaN,iGTe,22.23,2022,India - 2022,51.0,64.0,114.0,87.0,83.0,101.0,76.0,40.0,64.0,84.0,NaN,88.0,852.0
Accepted,India,NaN,iGTe,22.23,2022,India - 2022,0.0,4.0,13.0,11.0,10.0,7.0,3.0,3.0,6.0,4.0,NaN,6.0,67.0
Approved,India,NaN,iGTe,22.23,2022,India - 2022,0.0,3.0,10.0,7.0,6.0,7.0,2.0,1.0,5.0,4.0,NaN,2.0,47.0
Realized,India,NaN,iGTe,22.23,2022,India - 2022,1.0,0.0,1.0,0.0,8.0,8.0,4.0,4.0,1.0,3.0,NaN,1.0,31.0
Finished,India,NaN,iGTe,22.23,2022,India - 2022,0.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,5.0,NaN,1.0,12.0
Completed,India,NaN,iGTe,22.23,2022,India - 2022,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,NaN,1.0,5.0

Function: iGTe, Term: 23.24

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTe,23.24,2023,India - 2023,6.0,16.0,27.0,22.0,9.0,19.0,20.0,13.0,17.0,20.0,NaN,25.0,194.0
Applied,India,NaN,iGTe,23.24,2023,India - 2023,74.0,113.0,152.0,123.0,90.0,75.0,139.0,104.0,87.0,131.0,NaN,142.0,1230.0
Accepted,India,NaN,iGTe,23.24,2023,India - 2023,4.0,10.0,13.0,11.0,8.0,4.0,6.0,8.0,3.0,5.0,NaN,5.0,77.0
Approved,India,NaN,iGTe,23.24,2023,India - 2023,5.0,7.0,4.0,5.0,8.0,1.0,4.0,5.0,2.0,2.0,NaN,2.0,45.0
Realized,India,NaN,iGTe,23.24,2023,India - 2023,0.0,0.0,3.0,4.0,4.0,7.0,2.0,5.0,0.0,0.0,NaN,5.0,30.0
Finished,India,NaN,iGTe,23.24,2023,India - 2023,0.0,4.0,2.0,1.0,4.0,5.0,4.0,4.0,2.0,8.0,NaN,2.0,36.0
Completed,India,NaN,iGTe,23.24,2023,India - 2023,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,0.0,3.0,NaN,2.0,11.0

Function: iGTe, Term: 24.25

Months for Analysis,Entity,status2,Function,Term,Year,EY Year,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,Total
status,,,,,,,,,,,,,,,,,,,
Open,India,NaN,iGTe,24.25,2024,India - 2024,7.0,32.0,21.0,18.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,79.0
Applied,India,NaN,iGTe,24.25,2024,India - 2024,148.0,288.0,217.0,224.0,23.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,900.0
Accepted,India,NaN,iGTe,24.25,2024,India - 2024,6.0,17.0,15.0,22.0,7.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,67.0
Approved,India,NaN,iGTe,24.25,2024,India - 2024,8.0,11.0,15.0,18.0,3.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,55.0
Realized,India,NaN,iGTe,24.25,2024,India - 2024,3.0,0.0,2.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,11.0
Finished,India,NaN,iGTe,24.25,2024,India - 2024,1.0,1.0,0.0,3.0,5.0,6.0,0.0,3.0,0.0,2.0,NaN,NaN,21.0
Completed,India,NaN,iGTe,24.25,2024,India - 2024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0

India_1585Data written to summary_data.csv successfully.

In [1]:
import pandas as pd
import glob
import os

In [2]:
LEAD = '1585'

In [3]:
folder_path = f'c:\\Workspace\\pre-planning\\ATT3\\{LEAD}\\'

all_files = glob.glob(os.path.join(folder_path, "*.csv"))

df_list = []
for file in all_files:
    df = pd.read_csv(file)  
    df_list.append(df)

concatenated_df = pd.concat(df_list, ignore_index=True)

concatenated_df.to_csv(f'{LEAD}concatenated_file.csv', index=False)

In [4]:
com = pd.read_csv(f'{LEAD}concatenated_file.csv')
print(com['status'].value_counts())
com

realized     1092
matched      1008
an           1008
approved     1008
finished     1008
completed    1008
applied      1008
remote       1008
o             504
i             504
total         504
accepted       84
Name: status, dtype: int64

        status function function_new          Month    APP
0      matched      oGE         oGTa   January 2016    0.0
1     realized  Old iGT         iGTa   January 2016    3.0
2     realized  Old iGV          iGV   January 2016  192.0
3      matched     oGTe         oGTe   January 2016    0.0
4      matched     oGTa         oGTa   January 2016    0.0
...        ...      ...          ...            ...    ...
9739     total    Total        Total  December 2024    0.0
9740     total    Total        Total  December 2024    0.0
9741  realized    Total        Total  December 2024    0.0
9742     total    Total        Total  December 2024    0.0
9743     total    Total        Total  December 2024    0.0

[9744 rows x 5 columns]

In [5]:

# Rename status column values
status_mapping = {
    'realized': 'Realized',
    'matched': 'Accepted',
    'an': 'Accepted by Host',
    'approved': 'Approved',
    'finished': 'Finished',
    'completed': 'Completed',
    'applied': 'Applied',
    'remote': 'Remote Realized',
    'o': 'Open',
    'i': 'Open',
    'total': 'Total',
    'accepted': 'Accepted L'
}

com['status'] = com['status'].map(status_mapping)
com['Month in Dates'] = pd.to_datetime(com['Month'])
com

        status function function_new          Month    APP Month in Dates
0     Accepted      oGE         oGTa   January 2016    0.0     2016-01-01
1     Realized  Old iGT         iGTa   January 2016    3.0     2016-01-01
2     Realized  Old iGV          iGV   January 2016  192.0     2016-01-01
3     Accepted     oGTe         oGTe   January 2016    0.0     2016-01-01
4     Accepted     oGTa         oGTa   January 2016    0.0     2016-01-01
...        ...      ...          ...            ...    ...            ...
9739     Total    Total        Total  December 2024    0.0     2024-12-01
9740     Total    Total        Total  December 2024    0.0     2024-12-01
9741  Realized    Total        Total  December 2024    0.0     2024-12-01
9742     Total    Total        Total  December 2024    0.0     2024-12-01
9743     Total    Total        Total  December 2024    0.0     2024-12-01

[9744 rows x 6 columns]

In [6]:
# Create a PeriodIndex with monthly frequency
period_index = pd.PeriodIndex(com['Month in Dates'], freq='M')

# Convert 'Month in Dates' to datetime
com['Month in Dates'] = pd.to_datetime(com['Month in Dates'])

# Define a mapping dictionary for quarters
month_mapping = {
    1: 'JAN',
    2: 'FEB',
    3: 'MAR',
    4: 'APR',   
    5: 'MAY',
    6: 'JUN',
    7: 'JUL',
    8: 'AUG',
    9: 'SEP',
    10: 'OCT',
    11: 'NOV',
    12: 'DEC',
}

# Extract month numbers and map them to month names
com['Months for Analysis'] = com['Month in Dates'].dt.month.map(month_mapping)

com

,status,function,function_new,Month,APP,Month in Dates,Months for Analysis
0,Accepted,oGE,oGTa,January 2016,0.0,2016-01-01,JAN
1,Realized,Old iGT,iGTa,January 2016,3.0,2016-01-01,JAN
2,Realized,Old iGV,iGV,January 2016,192.0,2016-01-01,JAN
3,Accepted,oGTe,oGTe,January 2016,0.0,2016-01-01,JAN
4,Accepted,oGTa,oGTa,January 2016,0.0,2016-01-01,JAN
...,...,...,...,...,...,...,...
9739,Total,Total,Total,December 2024,0.0,2024-12-01,DEC
9740,Total,Total,Total,December 2024,0.0,2024-12-01,DEC
9741,Realized,Total,Total,December 2024,0.0,2024-12-01,DEC
9742,Total,Total,Total,December 2024,0.0,2024-12-01,DEC
9743,Total,Total,Total,December 2024,0.0,2024-12-01,DEC

In [16]:
# Function to determine term based on date
def determine_term(date_str):
    date = pd.to_datetime(date_str, format='%Y-%m-%d')
    year = date.year
    if date.month >= 2:
        term = f"{year % 100}.{(year + 1) % 100}"
    else:
        term = f"{(year - 1) % 100}.{year % 100}"
    return term

# Adding 'Term' column to DataFrame
com['Term'] = com['Month in Dates'].apply(determine_term)

In [17]:
com

,status,function,function_new,Month,APP,Month in Dates,Months for Analysis,Term,Year
0,Accepted,oGE,oGTa,January 2016,0.0,2016-01-01,JAN,15.16,2015
1,Realized,Old iGT,iGTa,January 2016,3.0,2016-01-01,JAN,15.16,2015
2,Realized,Old iGV,iGV,January 2016,192.0,2016-01-01,JAN,15.16,2015
3,Accepted,oGTe,oGTe,January 2016,0.0,2016-01-01,JAN,15.16,2015
4,Accepted,oGTa,oGTa,January 2016,0.0,2016-01-01,JAN,15.16,2015
...,...,...,...,...,...,...,...,...,...
9739,Total,Total,Total,December 2024,0.0,2024-12-01,DEC,24.25,2024
9740,Total,Total,Total,December 2024,0.0,2024-12-01,DEC,24.25,2024
9741,Realized,Total,Total,December 2024,0.0,2024-12-01,DEC,24.25,2024
9742,Total,Total,Total,December 2024,0.0,2024-12-01,DEC,24.25,2024
9743,Total,Total,Total,December 2024,0.0,2024-12-01,DEC,24.25,2024

In [19]:
com.to_csv(f'{LEAD}final_processed.csv', index=False)

In [27]:
# function_is = 'oGTa'
# term = '20.21'
def get_summary(df, function_new, term):
    
    df['Month in Dates'] = pd.to_datetime(df['Month in Dates'])
    col_to_show = ['status', 'APP','Month in Dates', 'function_new', 'Term', 'Months for Analysis','Year','EY Year']
    # Filter the dataframe based on function and term
    filt = df[(df['function_new'] == function_new) & (df['Term'] == term)][col_to_show]
    pivot_df = filt.pivot_table(index='status', columns='Months for Analysis', values='APP', aggfunc='sum')
    pivot_df['Total'] = pivot_df.sum(axis=1)
    # a colum which has values 'ASL' for the whole column
    pivot_df['Entity'] = LEAD
    #concat the year and EY year
    com['Year'] = com['Term'].apply(lambda x: "20" + x.split('.')[0])
    pivot_df['Year'] = pivot_df['Year'] + ' - ' + pivot_df['EY Year']


    rows_to_drop = ['Accepted L']
    pivot_df = pivot_df.drop(rows_to_drop, errors='ignore')

    # Define the desired column order
    column_order = ['Entity', 'Term', 'Year','EY Year', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN', 'Total']
    pivot_df = pivot_df.reindex(columns=column_order)

    # Define the desired row order
    row_order = ['Open','Applied', 'Accepted', 'Approved', 'Realized', 'Finished', 'Completed']
    pivot_df = pivot_df.reindex(row_order)
    
    return pivot_df

# get_summary(com, function_is, term)

In [28]:
com['Term'].unique()

array(['15.16', '16.17', '17.18', '18.19', '19.20', '21.22', '22.23',
       '23.24', '24.25'], dtype=object)

In [41]:
# functions = ['oGTa', 'iGTa', 'iGV', 'oGV', 'Total', 'oGTe', 'iGTe']
# # terms = ['15.16', '16.17', '17.18', '18.19', '19.20', '20.21', '21.22', '22.23', '23.24']
# terms = ['15.16', '16.17', '17.18', '18.19', '19.20', '21.22', '22.23','23.24', '24.25']

# for func in functions:
#     for term in terms:
#         print(f"Function: {func}, Term: {term}")
#         summary_df = get_summary(com, func, term)
#         display(summary_df)

In [29]:
import csv

functions = ['oGTa', 'iGTa', 'iGV', 'oGV', 'Total', 'oGTe', 'iGTe']
# terms = ['15.16', '16.17', '17.18', '18.19', '19.20','22.23', '23.24']
terms = ['15.16', '16.17', '17.18', '18.19', '19.20', '21.22', '22.23','23.24', '24.25']

# Open the CSV file in write mode
with open(f'{LEAD}Planning_Pivot.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    
    for func in functions:
        for term in terms:
            # Print and write the Function and Term identifiers
            print(f"Function: {func}, Term: {term}")
            
            # Get the summary DataFrame
            summary_df = get_summary(com, func, term)
            display(summary_df)
            
            # Write the Function and Term identifiers to the CSV
            csvwriter.writerow([f"Function: {func}, Term: {term}"])
            
            # Write the headers including the index name
            headers = ['Index'] + list(summary_df.columns)
            csvwriter.writerow(headers)
            
            # Write the DataFrame rows including the index
            for index, row in summary_df.iterrows():
                csvwriter.writerow([index] + list(row))
            
            # Add a blank line for separation (optional)
            csvwriter.writerow([])

print("Data written to summary_data.csv successfully.")

Function: oGTa, Term: 15.16

KeyError: "['EY Year'] not in index"