In [129]:
# add another column called Month in Dates using excel
import pandas as pd 

com = pd.read_csv('final.csv')

print(com['status'].value_counts())
com

realized     988
matched      912
an           912
approved     912
finished     912
completed    912
applied      912
remote       912
o            456
i            456
total        456
accepted      76
Name: status, dtype: int64

,5490,2188,2175,221,1340,872,1821,2186,4535,222,2204,status,function,Month
0,0,0,0,0,0,0,0,0,0,0,0,matched,oGE,January 2014
1,0,0,0,1,5,1,0,0,0,0,0,realized,Old iGT,January 2014
2,0,0,0,69,66,47,0,0,0,35,0,realized,Old iGV,January 2014
3,0,0,0,0,0,0,0,0,0,0,0,matched,oGTe,January 2014
4,0,0,0,0,0,0,0,0,0,0,0,matched,oGTa,January 2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8811,2,3,18,22,17,12,0,1,0,22,17,total,Total,April 2024
8812,0,0,0,0,0,0,0,0,0,0,0,realized,Total,April 2024
8813,0,0,2,1,0,0,0,0,0,1,0,total,Total,April 2024
8814,0,0,5,2,1,5,0,1,0,3,1,total,Total,April 2024
8815,0,0,3,1,0,2,0,1,0,3,1,total,Total,April 2024

In [130]:

# Rename status column values
status_mapping = {
    'realized': 'Realized',
    'matched': 'Matched',
    'an': 'Accepted by Host',
    'approved': 'Approved',
    'finished': 'Finished',
    'completed': 'Completed',
    'applied': 'Applied',
    'remote': 'Remote Realized',
    'o': 'Open',
    'i': 'Open',
    'total': 'Total',
    'accepted': 'Accepted'
}

com['status'] = com['status'].map(status_mapping)
com

,5490,2188,2175,221,1340,872,1821,2186,4535,222,2204,status,function,Month
0,0,0,0,0,0,0,0,0,0,0,0,Matched,oGE,January 2014
1,0,0,0,1,5,1,0,0,0,0,0,Realized,Old iGT,January 2014
2,0,0,0,69,66,47,0,0,0,35,0,Realized,Old iGV,January 2014
3,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTe,January 2014
4,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTa,January 2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8811,2,3,18,22,17,12,0,1,0,22,17,Total,Total,April 2024
8812,0,0,0,0,0,0,0,0,0,0,0,Realized,Total,April 2024
8813,0,0,2,1,0,0,0,0,0,1,0,Total,Total,April 2024
8814,0,0,5,2,1,5,0,1,0,3,1,Total,Total,April 2024
8815,0,0,3,1,0,2,0,1,0,3,1,Total,Total,April 2024

In [131]:
com['Month in Dates'] = pd.to_datetime(com['Month'])
com

,5490,2188,2175,221,1340,872,1821,2186,4535,222,2204,status,function,Month,Month in Dates
0,0,0,0,0,0,0,0,0,0,0,0,Matched,oGE,January 2014,2014-01-01
1,0,0,0,1,5,1,0,0,0,0,0,Realized,Old iGT,January 2014,2014-01-01
2,0,0,0,69,66,47,0,0,0,35,0,Realized,Old iGV,January 2014,2014-01-01
3,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTe,January 2014,2014-01-01
4,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTa,January 2014,2014-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8811,2,3,18,22,17,12,0,1,0,22,17,Total,Total,April 2024,2024-04-01
8812,0,0,0,0,0,0,0,0,0,0,0,Realized,Total,April 2024,2024-04-01
8813,0,0,2,1,0,0,0,0,0,1,0,Total,Total,April 2024,2024-04-01
8814,0,0,5,2,1,5,0,1,0,3,1,Total,Total,April 2024,2024-04-01
8815,0,0,3,1,0,2,0,1,0,3,1,Total,Total,April 2024,2024-04-01

In [132]:
# Create a PeriodIndex with monthly frequency
period_index = pd.PeriodIndex(com['Month in Dates'], freq='M')

# Convert 'Month in Dates' to datetime
com['Month in Dates'] = pd.to_datetime(com['Month in Dates'])

# Define a mapping dictionary for quarters
month_mapping = {
    1: 'JAN',
    2: 'FEB',
    3: 'MAR',
    4: 'APR',   
    5: 'MAY',
    6: 'JUN',
    7: 'JUL',
    8: 'AUG',
    9: 'SEP',
    10: 'OCT',
    11: 'NOV',
    12: 'DEC'
}

# Extract month numbers and map them to month names
com['Months for Analysis'] = com['Month in Dates'].dt.month.map(month_mapping)

com

,5490,2188,2175,221,1340,872,1821,2186,4535,222,2204,status,function,Month,Month in Dates,Months for Analysis
0,0,0,0,0,0,0,0,0,0,0,0,Matched,oGE,January 2014,2014-01-01,JAN
1,0,0,0,1,5,1,0,0,0,0,0,Realized,Old iGT,January 2014,2014-01-01,JAN
2,0,0,0,69,66,47,0,0,0,35,0,Realized,Old iGV,January 2014,2014-01-01,JAN
3,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTe,January 2014,2014-01-01,JAN
4,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTa,January 2014,2014-01-01,JAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8811,2,3,18,22,17,12,0,1,0,22,17,Total,Total,April 2024,2024-04-01,APR
8812,0,0,0,0,0,0,0,0,0,0,0,Realized,Total,April 2024,2024-04-01,APR
8813,0,0,2,1,0,0,0,0,0,1,0,Total,Total,April 2024,2024-04-01,APR
8814,0,0,5,2,1,5,0,1,0,3,1,Total,Total,April 2024,2024-04-01,APR
8815,0,0,3,1,0,2,0,1,0,3,1,Total,Total,April 2024,2024-04-01,APR

In [133]:
com['Month in Dates'] = pd.to_datetime(com['Month in Dates'])
start_year = com['Month in Dates'].dt.year - (com['Month in Dates'].dt.month < 7)
end_year = start_year + 1
com['Term'] = start_year.astype(str).str[-2:] + '.' + end_year.astype(str).str[-2:]

In [121]:
# Function to determine term based on date
def determine_term(date_str):
    date = pd.to_datetime(date_str, format='%m/%d/%Y')
    year = date.year
    if date.month >= 7:
        term = f"{year % 100}.{(year + 1) % 100}"
    else:
        term = f"{(year - 1) % 100}.{year % 100}"
    return term

# Adding 'term' column to DataFrame
com['Term'] = com['Month in Dates'].apply(determine_term)

In [112]:
com

,5490,2188,2175,221,1340,872,1821,2186,4535,222,2204,status,function,Month,Month in Dates,Months for Analysis,Term Year,Term
0,0,0,0,0,0,0,0,0,0,0,0,Matched,oGE,January 2014,2014-01-01,JAN,13.14,13.14
1,0,0,0,1,5,1,0,0,0,0,0,Realized,Old iGT,January 2014,2014-01-01,JAN,13.14,13.14
2,0,0,0,69,66,47,0,0,0,35,0,Realized,Old iGV,January 2014,2014-01-01,JAN,13.14,13.14
3,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTe,January 2014,2014-01-01,JAN,13.14,13.14
4,0,0,0,0,0,0,0,0,0,0,0,Matched,oGTa,January 2014,2014-01-01,JAN,13.14,13.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8811,2,3,18,22,17,12,0,1,0,22,17,Total,Total,April 2024,2024-04-01,APR,23.24,23.24
8812,0,0,0,0,0,0,0,0,0,0,0,Realized,Total,April 2024,2024-04-01,APR,23.24,23.24
8813,0,0,2,1,0,0,0,0,0,1,0,Total,Total,April 2024,2024-04-01,APR,23.24,23.24
8814,0,0,5,2,1,5,0,1,0,3,1,Total,Total,April 2024,2024-04-01,APR,23.24,23.24
8815,0,0,3,1,0,2,0,1,0,3,1,Total,Total,April 2024,2024-04-01,APR,23.24,23.24

In [122]:
com.to_csv('final_processed.csv', index=False)

In [123]:
# function_is = 'oGTa'
# term = '20.21'
def get_summary(df, function_new, term):
    
    df['Month in Dates'] = pd.to_datetime(df['Month in Dates'])
    col_to_show = ['status', 'APP','Month in Dates', 'function_new', 'Term Year', 'Months for Analysis']
    # Filter the dataframe based on function and term
    filt = df[(df['function_new'] == function_new) & (df['Term Year'] == term)][col_to_show]
    pivot_df = filt.pivot_table(index='status', columns='Months for Analysis', values='APP', aggfunc='sum')
    pivot_df['Total'] = pivot_df.sum(axis=1)
    # a colum which has values 'ASL' for the whole column
    pivot_df['Entity'] = 'ASL'
    rows_to_drop = ['Accepted by Home', 'Accepted', 'Remote Realized']
    pivot_df = pivot_df.drop(rows_to_drop, errors='ignore')

    # Define the desired column order
    column_order = ['Entity', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'Total']
    pivot_df = pivot_df.reindex(columns=column_order)

    # Define the desired row order
    row_order = ['Open', 'Applied', 'Matched', 'Approved', 'Realized', 'Finished', 'Completed']
    pivot_df = pivot_df.reindex(row_order)
    
    return pivot_df

# get_summary(com, function_is, term)

In [124]:
functions = ['oGTa', 'iGTa', 'iGV', 'oGV', 'Total', 'oGTe', 'iGTe']
# terms = ['15.16', '16.17', '17.18', '18.19', '19.20', '20.21', '21.22', '22.23', '23.24']
terms = ['13.14','14.15','15.16', '16.17', '17.18', '18.19', '19.20']

for func in functions:
    for term in terms:
        print(f"Function: {func}, Term: {term}")
        summary_df = get_summary(com, func, term)
        display(summary_df)

Function: oGTa, Term: 13.14

KeyError: 'function_new'

In [104]:
import csv

functions = ['oGTa', 'iGTa', 'iGV', 'oGV', 'Total', 'oGTe', 'iGTe']
# terms = ['15.16', '16.17', '17.18', '18.19', '19.20','22.23', '23.24']
terms = ['15.16', '16.17', '17.18', '18.19', '19.20']

# Open the CSV file in write mode
with open('Planning_Pivot.csv', 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    
    for func in functions:
        for term in terms:
            # Print and write the Function and Term identifiers
            print(f"Function: {func}, Term: {term}")
            
            # Get the summary DataFrame
            summary_df = get_summary(com, func, term)
            display(summary_df)
            
            # Write the Function and Term identifiers to the CSV
            csvwriter.writerow([f"Function: {func}, Term: {term}"])
            
            # Write the headers including the index name
            headers = ['Index'] + list(summary_df.columns)
            csvwriter.writerow(headers)
            
            # Write the DataFrame rows including the index
            for index, row in summary_df.iterrows():
                csvwriter.writerow([index] + list(row))
            
            # Add a blank line for separation (optional)
            csvwriter.writerow([])

print("Data written to summary_data.csv successfully.")

Function: oGTa, Term: 15.16

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,26.0,14.0,36.0,21.0,38.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,159.0
Applied,ASL,31.0,25.0,33.0,28.0,91.0,71.0,NaN,NaN,NaN,NaN,NaN,NaN,279.0
Matched,ASL,1.0,3.0,1.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0
Approved,ASL,1.0,0.0,2.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Realized,ASL,1.0,0.0,1.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0
Finished,ASL,0.0,2.0,4.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Function: oGTa, Term: 16.17

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,23.0,39.0,64.0,106.0,179.0,144.0,32.0,39.0,25.0,51.0,49.0,37.0,788.0
Applied,ASL,42.0,64.0,102.0,135.0,262.0,305.0,64.0,78.0,38.0,27.0,74.0,33.0,1224.0
Matched,ASL,1.0,1.0,3.0,4.0,1.0,7.0,4.0,4.0,2.0,1.0,0.0,0.0,28.0
Approved,ASL,1.0,1.0,3.0,4.0,0.0,7.0,2.0,3.0,3.0,1.0,0.0,0.0,25.0
Realized,ASL,1.0,0.0,0.0,2.0,1.0,3.0,0.0,1.0,2.0,2.0,0.0,0.0,12.0
Finished,ASL,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,1.0,0.0,1.0,9.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: oGTa, Term: 17.18

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,65.0,83.0,112.0,97.0,64.0,66.0,53.0,64.0,89.0,70.0,76.0,62.0,901.0
Applied,ASL,221.0,347.0,867.0,591.0,266.0,505.0,304.0,253.0,135.0,137.0,216.0,193.0,4035.0
Matched,ASL,0.0,5.0,6.0,3.0,6.0,11.0,4.0,3.0,2.0,2.0,4.0,2.0,48.0
Approved,ASL,0.0,2.0,3.0,0.0,6.0,1.0,1.0,3.0,1.0,2.0,1.0,2.0,22.0
Realized,ASL,1.0,3.0,2.0,0.0,0.0,3.0,2.0,3.0,1.0,3.0,1.0,1.0,20.0
Finished,ASL,0.0,0.0,1.0,0.0,1.0,2.0,3.0,1.0,2.0,1.0,0.0,4.0,15.0
Completed,ASL,0.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,1.0,1.0,0.0,0.0,6.0

Function: oGTa, Term: 18.19

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,50.0,92.0,101.0,92.0,96.0,35.0,53.0,73.0,115.0,92.0,82.0,58.0,939.0
Applied,ASL,367.0,405.0,359.0,471.0,461.0,350.0,380.0,435.0,443.0,435.0,297.0,405.0,4808.0
Matched,ASL,4.0,6.0,6.0,6.0,4.0,3.0,3.0,5.0,3.0,5.0,11.0,5.0,61.0
Approved,ASL,2.0,3.0,2.0,8.0,2.0,1.0,2.0,4.0,2.0,2.0,2.0,3.0,33.0
Realized,ASL,0.0,6.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,0.0,1.0,18.0
Finished,ASL,1.0,2.0,3.0,0.0,2.0,2.0,4.0,1.0,1.0,4.0,0.0,0.0,20.0
Completed,ASL,0.0,1.0,2.0,0.0,2.0,0.0,4.0,1.0,1.0,3.0,0.0,0.0,14.0

Function: oGTa, Term: 19.20

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,213.0,172.0,156.0,63.0,24.0,34.0,48.0,61.0,82.0,90.0,45.0,55.0,1043.0
Applied,ASL,238.0,244.0,202.0,51.0,20.0,64.0,254.0,273.0,340.0,301.0,265.0,352.0,2604.0
Matched,ASL,4.0,4.0,1.0,1.0,0.0,0.0,0.0,6.0,6.0,12.0,5.0,4.0,43.0
Approved,ASL,3.0,0.0,1.0,0.0,0.0,0.0,1.0,5.0,3.0,3.0,4.0,0.0,20.0
Realized,ASL,3.0,1.0,0.0,0.0,0.0,0.0,8.0,0.0,2.0,3.0,0.0,3.0,20.0
Finished,ASL,1.0,2.0,3.0,3.0,0.0,2.0,2.0,3.0,0.0,5.0,3.0,2.0,26.0
Completed,ASL,1.0,0.0,0.0,1.0,0.0,1.0,1.0,3.0,0.0,4.0,2.0,2.0,15.0

Function: iGTa, Term: 15.16

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,4.0,2.0,11.0,3.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,35.0
Applied,ASL,195.0,212.0,181.0,153.0,129.0,83.0,NaN,NaN,NaN,NaN,NaN,NaN,953.0
Matched,ASL,5.0,8.0,5.0,7.0,9.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,39.0
Approved,ASL,3.0,5.0,2.0,5.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,24.0
Realized,ASL,3.0,3.0,4.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,14.0
Finished,ASL,8.0,3.0,3.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,22.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Function: iGTa, Term: 16.17

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,3.0,12.0,4.0,12.0,6.0,6.0,4.0,2.0,6.0,13.0,13.0,9.0,90.0
Applied,ASL,123.0,194.0,216.0,299.0,256.0,385.0,174.0,61.0,124.0,229.0,386.0,274.0,2721.0
Matched,ASL,7.0,12.0,9.0,7.0,6.0,8.0,5.0,5.0,2.0,6.0,9.0,9.0,85.0
Approved,ASL,6.0,5.0,13.0,6.0,6.0,4.0,4.0,4.0,3.0,2.0,10.0,1.0,64.0
Realized,ASL,7.0,4.0,9.0,4.0,5.0,5.0,6.0,2.0,5.0,5.0,1.0,5.0,58.0
Finished,ASL,5.0,2.0,5.0,6.0,7.0,0.0,2.0,3.0,3.0,2.0,3.0,3.0,41.0
Completed,ASL,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Function: iGTa, Term: 17.18

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,15.0,7.0,9.0,9.0,5.0,3.0,5.0,22.0,11.0,1.0,10.0,7.0,104.0
Applied,ASL,226.0,215.0,208.0,488.0,359.0,369.0,376.0,569.0,162.0,93.0,309.0,222.0,3596.0
Matched,ASL,7.0,6.0,2.0,7.0,7.0,8.0,14.0,9.0,3.0,3.0,4.0,4.0,74.0
Approved,ASL,6.0,1.0,3.0,3.0,4.0,3.0,9.0,4.0,3.0,3.0,3.0,6.0,48.0
Realized,ASL,5.0,4.0,3.0,0.0,0.0,5.0,3.0,12.0,0.0,2.0,1.0,6.0,41.0
Finished,ASL,11.0,2.0,5.0,5.0,3.0,6.0,3.0,12.0,6.0,4.0,3.0,2.0,62.0
Completed,ASL,6.0,0.0,4.0,1.0,1.0,1.0,0.0,4.0,2.0,2.0,1.0,0.0,22.0

Function: iGTa, Term: 18.19

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,12.0,4.0,2.0,1.0,11.0,2.0,19.0,11.0,13.0,3.0,4.0,2.0,84.0
Applied,ASL,465.0,357.0,537.0,445.0,371.0,459.0,407.0,487.0,389.0,607.0,470.0,293.0,5287.0
Matched,ASL,15.0,6.0,11.0,3.0,0.0,10.0,7.0,22.0,17.0,12.0,3.0,2.0,108.0
Approved,ASL,13.0,4.0,3.0,1.0,0.0,5.0,5.0,14.0,13.0,9.0,2.0,2.0,71.0
Realized,ASL,2.0,6.0,3.0,3.0,1.0,0.0,1.0,3.0,12.0,6.0,6.0,2.0,45.0
Finished,ASL,4.0,4.0,13.0,4.0,2.0,2.0,1.0,2.0,3.0,1.0,2.0,9.0,47.0
Completed,ASL,2.0,0.0,7.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,3.0,16.0

Function: iGTa, Term: 19.20

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,1.0,1.0,1.0,0.0,0.0,0.0,9.0,4.0,8.0,6.0,3.0,2.0,35.0
Applied,ASL,471.0,388.0,266.0,69.0,0.0,0.0,457.0,478.0,588.0,523.0,286.0,185.0,3711.0
Matched,ASL,12.0,5.0,5.0,0.0,0.0,0.0,11.0,5.0,8.0,8.0,4.0,4.0,62.0
Approved,ASL,4.0,0.0,3.0,0.0,0.0,0.0,4.0,4.0,2.0,4.0,3.0,4.0,28.0
Realized,ASL,4.0,0.0,2.0,0.0,0.0,0.0,5.0,1.0,1.0,5.0,4.0,0.0,22.0
Finished,ASL,1.0,0.0,1.0,5.0,3.0,2.0,1.0,1.0,4.0,4.0,2.0,1.0,25.0
Completed,ASL,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,7.0

Function: iGV, Term: 15.16

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,7.0,19.0,15.0,5.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0
Applied,ASL,104.0,150.0,495.0,1475.0,1316.0,400.0,NaN,NaN,NaN,NaN,NaN,NaN,3940.0
Matched,ASL,35.0,32.0,60.0,494.0,416.0,129.0,NaN,NaN,NaN,NaN,NaN,NaN,1166.0
Approved,ASL,38.0,20.0,26.0,178.0,257.0,86.0,NaN,NaN,NaN,NaN,NaN,NaN,605.0
Realized,ASL,192.0,38.0,15.0,11.0,20.0,144.0,NaN,NaN,NaN,NaN,NaN,NaN,420.0
Finished,ASL,37.0,35.0,190.0,29.0,10.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,330.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Function: iGV, Term: 16.17

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,6.0,50.0,9.0,12.0,10.0,4.0,4.0,2.0,17.0,38.0,14.0,42.0,208.0
Applied,ASL,229.0,673.0,1286.0,1693.0,1420.0,779.0,117.0,67.0,61.0,380.0,849.0,541.0,8095.0
Matched,ASL,98.0,95.0,411.0,654.0,586.0,250.0,48.0,22.0,27.0,106.0,399.0,235.0,2931.0
Approved,ASL,51.0,25.0,139.0,330.0,288.0,129.0,31.0,20.0,11.0,32.0,149.0,112.0,1317.0
Realized,ASL,223.0,42.0,17.0,25.0,63.0,225.0,297.0,64.0,8.0,10.0,0.0,36.0,1010.0
Finished,ASL,6.0,79.0,191.0,36.0,19.0,24.0,52.0,259.0,164.0,33.0,9.0,5.0,877.0
Completed,ASL,0.0,1.0,7.0,1.0,0.0,12.0,0.0,0.0,1.0,0.0,0.0,0.0,22.0

Function: iGV, Term: 17.18

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,17.0,93.0,70.0,51.0,19.0,13.0,3.0,11.0,5.0,7.0,17.0,33.0,339.0
Applied,ASL,394.0,468.0,1011.0,950.0,888.0,672.0,401.0,294.0,260.0,471.0,461.0,427.0,6697.0
Matched,ASL,102.0,167.0,460.0,515.0,379.0,171.0,91.0,47.0,111.0,142.0,140.0,103.0,2428.0
Approved,ASL,40.0,83.0,166.0,308.0,216.0,105.0,66.0,27.0,35.0,52.0,93.0,46.0,1237.0
Realized,ASL,116.0,16.0,8.0,3.0,55.0,163.0,371.0,161.0,32.0,8.0,8.0,30.0,971.0
Finished,ASL,21.0,43.0,91.0,14.0,4.0,15.0,177.0,369.0,193.0,85.0,14.0,15.0,1041.0
Completed,ASL,13.0,29.0,55.0,10.0,3.0,13.0,96.0,178.0,95.0,19.0,3.0,7.0,521.0

Function: iGV, Term: 18.19

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,48.0,25.0,20.0,32.0,6.0,4.0,7.0,47.0,3.0,14.0,23.0,9.0,238.0
Applied,ASL,373.0,525.0,918.0,589.0,290.0,246.0,275.0,229.0,333.0,510.0,613.0,315.0,5216.0
Matched,ASL,155.0,263.0,498.0,343.0,77.0,52.0,91.0,74.0,141.0,204.0,318.0,130.0,2346.0
Approved,ASL,46.0,72.0,147.0,125.0,25.0,24.0,62.0,21.0,68.0,66.0,160.0,61.0,877.0
Realized,ASL,130.0,25.0,11.0,1.0,10.0,52.0,455.0,111.0,20.0,14.0,7.0,40.0,876.0
Finished,ASL,40.0,84.0,72.0,11.0,0.0,10.0,162.0,400.0,200.0,28.0,15.0,5.0,1027.0
Completed,ASL,34.0,55.0,48.0,7.0,0.0,8.0,100.0,269.0,133.0,17.0,14.0,4.0,689.0

Function: iGV, Term: 19.20

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,52.0,13.0,36.0,0.0,306.0,12.0,2.0,6.0,62.0,36.0,7.0,38.0,570.0
Applied,ASL,246.0,370.0,239.0,52.0,82.0,104.0,275.0,141.0,195.0,263.0,260.0,195.0,2422.0
Matched,ASL,86.0,174.0,165.0,20.0,33.0,53.0,68.0,49.0,97.0,123.0,141.0,84.0,1093.0
Approved,ASL,14.0,29.0,36.0,0.0,14.0,8.0,19.0,18.0,31.0,33.0,46.0,34.0,282.0
Realized,ASL,43.0,15.0,2.0,0.0,0.0,0.0,123.0,25.0,7.0,9.0,3.0,26.0,253.0
Finished,ASL,26.0,33.0,22.0,2.0,1.0,0.0,40.0,108.0,50.0,9.0,10.0,3.0,304.0
Completed,ASL,12.0,14.0,11.0,0.0,0.0,0.0,29.0,71.0,37.0,8.0,2.0,1.0,185.0

Function: oGV, Term: 15.16

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,23.0,12.0,71.0,39.0,44.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,211.0
Applied,ASL,25.0,30.0,39.0,391.0,313.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN,883.0
Matched,ASL,5.0,5.0,7.0,41.0,67.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,144.0
Approved,ASL,9.0,3.0,1.0,25.0,39.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN,94.0
Realized,ASL,26.0,7.0,3.0,1.0,13.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN,80.0
Finished,ASL,14.0,10.0,21.0,7.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,56.0
Completed,ASL,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0

Function: oGV, Term: 16.17

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,37.0,41.0,64.0,95.0,146.0,119.0,32.0,44.0,53.0,93.0,96.0,65.0,885.0
Applied,ASL,155.0,73.0,202.0,384.0,461.0,567.0,160.0,76.0,118.0,344.0,447.0,353.0,3340.0
Matched,ASL,50.0,16.0,31.0,64.0,46.0,64.0,17.0,19.0,14.0,49.0,98.0,81.0,549.0
Approved,ASL,29.0,12.0,19.0,43.0,31.0,32.0,9.0,13.0,4.0,15.0,42.0,52.0,301.0
Realized,ASL,52.0,32.0,6.0,7.0,4.0,39.0,14.0,8.0,9.0,3.0,8.0,25.0,207.0
Finished,ASL,24.0,37.0,32.0,27.0,5.0,4.0,12.0,36.0,13.0,3.0,8.0,4.0,205.0
Completed,ASL,1.0,6.0,10.0,9.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0

Function: oGV, Term: 17.18

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,67.0,55.0,98.0,113.0,48.0,41.0,32.0,76.0,96.0,98.0,78.0,72.0,874.0
Applied,ASL,258.0,169.0,279.0,407.0,433.0,153.0,245.0,122.0,338.0,566.0,393.0,211.0,3574.0
Matched,ASL,46.0,31.0,49.0,40.0,65.0,22.0,42.0,24.0,51.0,87.0,83.0,42.0,582.0
Approved,ASL,26.0,25.0,25.0,21.0,40.0,17.0,25.0,22.0,21.0,31.0,46.0,30.0,329.0
Realized,ASL,29.0,12.0,15.0,17.0,3.0,16.0,17.0,11.0,15.0,23.0,20.0,37.0,215.0
Finished,ASL,26.0,32.0,15.0,19.0,19.0,4.0,18.0,35.0,13.0,16.0,14.0,30.0,241.0
Completed,ASL,21.0,27.0,14.0,18.0,19.0,3.0,17.0,29.0,7.0,13.0,12.0,27.0,207.0

Function: oGV, Term: 18.19

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,49.0,61.0,164.0,90.0,55.0,62.0,42.0,92.0,132.0,97.0,74.0,62.0,980.0
Applied,ASL,164.0,121.0,327.0,319.0,191.0,196.0,213.0,356.0,415.0,285.0,327.0,365.0,3279.0
Matched,ASL,42.0,34.0,82.0,81.0,41.0,34.0,27.0,63.0,87.0,69.0,85.0,72.0,717.0
Approved,ASL,25.0,11.0,38.0,34.0,24.0,17.0,18.0,30.0,39.0,39.0,38.0,33.0,346.0
Realized,ASL,60.0,19.0,11.0,15.0,5.0,13.0,23.0,7.0,14.0,11.0,10.0,49.0,237.0
Finished,ASL,43.0,33.0,49.0,11.0,18.0,6.0,11.0,23.0,7.0,13.0,17.0,10.0,241.0
Completed,ASL,42.0,27.0,45.0,10.0,18.0,4.0,10.0,20.0,7.0,12.0,14.0,10.0,219.0

Function: oGV, Term: 19.20

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,189.0,300.0,306.0,104.0,41.0,43.0,70.0,70.0,117.0,100.0,113.0,167.0,1620.0
Applied,ASL,250.0,164.0,32.0,5.0,17.0,7.0,219.0,100.0,223.0,266.0,112.0,83.0,1478.0
Matched,ASL,22.0,24.0,15.0,0.0,0.0,1.0,47.0,32.0,40.0,53.0,44.0,22.0,300.0
Approved,ASL,8.0,9.0,2.0,0.0,0.0,0.0,33.0,14.0,15.0,19.0,14.0,10.0,124.0
Realized,ASL,14.0,5.0,0.0,0.0,0.0,0.0,19.0,8.0,20.0,19.0,11.0,12.0,108.0
Finished,ASL,10.0,15.0,7.0,0.0,0.0,0.0,6.0,24.0,9.0,20.0,15.0,14.0,120.0
Completed,ASL,6.0,10.0,4.0,0.0,0.0,0.0,5.0,19.0,8.0,19.0,14.0,11.0,96.0

Function: Total, Term: 15.16

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matched,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 16.17

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matched,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 17.18

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matched,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 18.19

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matched,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: Total, Term: 19.20

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Applied,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Matched,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Function: oGTe, Term: 15.16

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Function: oGTe, Term: 16.17

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,1.0,1.0,8.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: oGTe, Term: 17.18

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,1.0,0.0,1.0,3.0,1.0,0.0,1.0,1.0,0.0,1.0,3.0,1.0,13.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: oGTe, Term: 18.19

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,3.0,1.0,3.0,1.0,1.0,0.0,1.0,0.0,1.0,3.0,2.0,1.0,17.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: oGTe, Term: 19.20

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,3.0,10.0,2.0,2.0,1.0,1.0,0.0,2.0,2.0,3.0,1.0,1.0,28.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: iGTe, Term: 15.16

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

Function: iGTe, Term: 16.17

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: iGTe, Term: 17.18

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: iGTe, Term: 18.19

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Function: iGTe, Term: 19.20

Months for Analysis,Entity,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,Total
status,,,,,,,,,,,,,,
Open,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Applied,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Matched,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Approved,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Realized,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Finished,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Completed,ASL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Data written to summary_data.csv successfully.